#navBar {
	background-color: black;
	opacity: 0.8;
}

#navBar a {
	color: white;
}

#titleDiv {
	margin-left: 15%;
	margin-top: 200px;
}

#titleDiv h1 {
	display: inline-block;
	font-size: 50px;
}

#titleDiv h2 {
	margin-top: 20px;
}

#cursor {
	display: inline-block;
	position: relative;
	bottom: 28px;
	width: 20px;
	height: 70px;
	font-size: 20px;
	background-color: black;  
}

#downArrow {
	margin-top: 100px;
}

#downArrow img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	width: 120px;
}

#upArrow {
	margin-top: 600px;
	margin-bottom: -400px;
}

#upArrow img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
}

#heading {
	display: inline-block;
}

#picHeading {
	position: relative;
	bottom: 5em;
	left: 20%;
}

img {
	width: 30%;
	border-radius: 20px;

}

#workExperienceDiv {
	margin-top: 600px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#workExperienceDiv h4 {
	margin-top: 20px;
	font-size: 20px;
}

.company-header {
	display: flex;
	align-items: center; /* Vertically aligns the logo with the text */
}

.company-logo {
	width: 300px; /* Adjust the size of the logo */
	height: auto; /* Maintain aspect ratio */
}

#projectDiv {
	margin-top: 600px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



#contactDiv {
	margin-top: 600px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.projectElements {
	text-align: left;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: white;
	width: 80%;
	height: 50%;
	border-radius: 4px;
	
	-webkit-box-shadow: 0px 0px 48px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 48px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 48px -5px rgba(0,0,0,0.75);
}

.projectElements h4 {
	font-size: 15px;
}

.techDiv {
	margin-top: 20px;
}

.technology {
	text-align: center;
	display: inline-block;
	padding: 2px;
	border: 1px solid green;
	border-radius: 4px;
	width: 120px;
	margin-bottom: 5px;
}

.btns {
	color: white;
	margin-top: 20px;
}

#contactInfo {
	margin-top: 100px;
	height: 350px;
}

.fade-in {
	opacity: 0;
	transition: opacity 500ms ease-in;
}

.fade-in.appear {
	opacity: 1;
}

.fade-in.disappear {
	opacity: 0;
}

@media only screen and (max-device-width: 480px) {

	#titleDiv {
		margin-top: 200px;
	}

	#navBar a {
		font-size: 40px;
	}


	#downArrow img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		width: 150px;
	}

	#workExperienceDiv h1 {
		margin-top: 500px;
		margin-bottom: -20px;
	}

	.company-header {
		margin-top: -170px;
		margin-left: 100px;
	}
	#projectDiv {
		margin-top: 1000px;
		width: 100%;
	}

	#projectDiv h3 {
		font-size: 50px;
	}

	#projectDiv h4 {
		font-size: 25px;
	}

	.projectElements {
		width: 90%;
	}

	.projectElements h4 {
		font-size: 15px;
	}

	img {
		width: 60%;
        margin-top: 30%; 
		margin-left: -20%;
	}

	.mobile-break {
        display: inline-block;
        width: 100%;
    }
}